<div class="container">
    <h1>Units</h1>
    <a class="btn btn-primary" href="/unit/add">Add a unit</a>
    <ul class="list-group mt-2">
        {{#each units as |unit|}}
        <li class="list-group-item">
            <div>
                <span class="font-weight-bold">{{unit.name}}</span> [<spanclass="font-italic">{{unit.type}}</span>] {{unit.force.name}}
            </div>
            <div>
                models per unit: {{unit.minModelsPerUnit}}-{{unit.maxModelsPerUnit}}    points per model: {{unit.pointsPerModel}}
            </div>
        </li>
        {{/each}}
    </ul>
</div>